mat-form-field, .textarea {
    width: 100%;
}
mat-spinner {
    margin: auto;
}
input[type="file"] {
    visibility: hidden;
}
.img-preview img{
    height: 10rem;
    display: block;
    margin: 0 auto;
}
